body{
    font-family: Poppins;
    margin: 0%;
}
nav{
    display: flex;
    padding: 0.5% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #292f36;
}
nav .icon img{
    width: 25%;
}
.menue img{
    width: 25%;
}
.nav-bar ul{
    text-align: right;
}
.nav-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 20px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #4ecdc4;
}
.nav-bar ul li a::after{
    content: "";
    display: block;
    background-color: #fff;
    width: 0%;
    height: 2px;
    margin: auto;
    transition: 0.5s;
    z-index: 10;
}
nav ul li a:hover{
    color: #fff;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.menue{
    width: 20px;
    cursor: pointer;
    display: none;
}
.close{
    width: 20px;
    cursor: pointer;
    display: none;
}
#home{
    padding-top: 40vh;
    text-align: center;
    background-image:linear-gradient(rgba(2, 6, 20, 0.5),rgba(2, 6, 20, 0.5)), url(images/mars2.jpg);
    width: 100%;
    min-height: 80vh;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
}
#home h3{
    font-weight: 400;
    font-size: 40px;
}
#home p{
    font-weight: 200;
    font-size: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    overflow: hidden;
    height: auto;
}
.col{
    flex-basis: 50%;
    position: relative;
    padding: 80px;
    padding-top: 0;
    margin-top: 40px;
}
.col h3{
    text-align: left;
    font-size: 40px;
    font-weight: 500;
}
.col p{
    font-size: 18px;
}
.col img{
    width: 100%;
    height: auto;
}
/*.line1{
    font-weight: 400;
    font-size: 40px;
    padding-top: 20vh;
    padding-left: 30px;
}*/
.line1::after{
    content: "";
    display: block;
    background-color: #292f36;
    width: 80%;
    height: 3px;
}
.btn{
    background-color: transparent;
    border: solid sienna;
    border-width: 2px;
    border-radius: 50px;
    padding: 3px 50px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.btn:hover{
    background-color: sienna;
    color: #fff;
}
#design{
    background-color: #292f36;
    color: #4ecdc4;
}
#design .btn{
    color: #fff;
}
.crt_heading{
    background-image:linear-gradient(rgba(2, 6, 20, 0.5),rgba(2, 6, 20, 0.5)), url(images/landscape.jpg);
    color: white;
    text-align: left;
    padding: 5% 0%;
    min-height: 30vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.crt_heading h1{
    padding-left: 10%;
    font-size: 35px;
    font-weight: 300;
}
.crt_heading ul{
    padding-left: 10%;
    font-size: 20px;
    font-weight: 200;
}
.form{
    background-color: #292f36;
    opacity: 0.95;
    margin: 2% 2%;
    padding: 5% 10%;
    border: 5px;
    font-size: 20px;
    color: white;
}
.form .box{
    padding: 30px 0px;
}
.crt_form #mission{
    font-family: Poppins;
    padding: 5px;
    font-size: 18px;
}
input[type=search]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 5px solid rgb(248, 107, 0);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}
/*.example{
    background-color: rgb(234, 141, 69);
    margin: 2% 0%;
    padding: 1% 2%;
    border-radius: 20px;
}
.example h4{
    font-weight: 400;
    color: black;
    margin-bottom: 2px;
    margin-top: 3px;
}
.example p{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: black;
    font-size: 15px;
}*/
button[type=submit]{
    text-align: center;
    box-sizing: border-box;
    border: 2px solid white;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
}
button[type=submit]:hover{
    background-color: #fff;
    color: #292f36;
}
.temp_section h3{
    /*color: #fff;*/
    font-size: 40px;
    font-weight: 400;
    padding-left: 50px;
    margin-top: 50px;
}
.temp_section h3::after{
    content: "";
    background-color: #292f36;
    width: 35%;
    height: 3px;
    display: block;
    z-index: 10;
}
.temp_section .col{
    margin-top: 10px;
    flex-basis: 50%;
    padding: 50px;
    padding-top: 0;
    /*color: #fff;*/
}
.temp_box{
    content: '';
    display: block;
    width: 600px;
    height: 400px;
    background-color: #d4e3e2;
    color: #292f36;
    border: 10px dashed;
    cursor: pointer;
}
.temp_box p{
    text-align: center;
    text-decoration: none;
    padding:150px 0;
    cursor: pointer;
}
.temp_box:hover{
    background-color: #292f36;
    color: #d4e3e2;
    transition: 0.5s;
}
.contribute{
    background-image: linear-gradient(rgba(2, 6, 20, 0.8),rgba(2, 6, 20, 0.8)), url(images/bg_temp.jpg);
    color: #fff;
    padding: 10px 0;
}
.contribute .line1::after{
    background-color: #fff;
}


@media (max-width: 700px) {
    .body{
        margin: 0;
        overflow: hidden;
    }
    .menue{
        width: 48px;
        cursor: pointer;
        display: block;
    }
    .close{
        width: 20px;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 25px;
        top: 30px;
    }
    .nav-bar{
        min-height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        background-color: #292f36;
        position: fixed;
        z-index: 10;
        padding: 5em 1em;
        flex-direction: column;
        transition: 1s;
    }
    .nav-bar ul{
        text-align: left;
    }
    .nav-bar ul li{
        padding: 20px;
        display: block;
    }
    .signin{
        margin-left: 1em;
        margin-top: 1em;
    }
    .row{
        display: flex;
        flex-direction:column;
        overflow: hidden;
    }
}
