body{
    background-image: url(images/background.jpg);
    max-width: 100%;
    overflow-x: hidden;
    color: #fff;
}

.navbar-brand{
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px rgba(2, 48, 2, 0.986);
}

.mb-3{
    padding: 5rem 5rem 0 5rem;
}

.row{
    padding: 0.05rem 5rem 5rem 5rem;
    display: block;
}