{% extends "layout.html" %}
{% block content %}
<div class="crt_heading">
     <h1>You can get search for the following<br> data of Mars missions</h1>
     <ul>
        <li>Images of different rovers<br> from different cameras</li>
        <li>Sol date/Earth date it was taken</li>
        <li>Current status</li>
     </ul>
</div>
<div class="form">
    <form action="{{url_for('create')}}" method="get">
        <div class="box">
            <input type="search" name="searchBar" placeholder="Enter a text..." />
            <button type="submit" name="submitButton">Search</button>
        </div>
    </form>
</div>

<br><br>
<div class="results-div">
    <h3>Created Posters</h3>
    <form action="/get_results/" method="post">
        {%for path in paths%}
        <a href = "{{ url_for('static', filename =  path) }}">
            <img src="{{ url_for('static', filename =  path) }}" width="30%" height="30%" alt="Image not found"/>
        </a>
        {%endfor%}
    </form>
</div>
{% endblock %}