{% extends "layout.html" %}
{% block content %}
<section class="crt_heading">
    <h1>Start creating your Mars Mission poster</h1>
    <p>There are guides to help you out through out the process.<br>The data and images are processced with the use of
        AI</p>
</section>
<section>
    <div class="crt_form">
        <form>
            <div class="box">
                <label for="mission">Select Mission</label>
                <select name="mission" id="mission">
                    <option value="1">Curiosity</option>
                    <option value="2">Spirit</option>
                    <option value="3">Perseverance</option>
            </div>
            </select>
            <div class="box">
                <label for="data">What data are you looking for?</label>
                <div class="example">
                    <h4>You can enter short text phrases as follows (These are just examples ;-) )</h4>
                    <p>Purpose of the mission</p>
                    <p>Launch date</p>
                    <p>Date landed on Mars</p>
                </div>
                <div class="field">
                    <input type="text" id="data" name="data[]" placeholder="Type here...">
                </div>
                <div>
                    <button class="addbtn" onclick="add_field()">Add more</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
