{% extends "layout.html" %}
{% block content %}
<div class="temp_section">
    <h3>AVAILABLE TEMPLATES</h3>
    <div class="row">
        <div class="col"><img src="static\images\template.png"></div>
        <div class="col"><img src="static\images\temp2.jpeg"></div>
        <div class="col"><img src="static\images\temp3.jpeg"></div>
    </div>
</div>
<div class="contribute">
    <div class="row">
        <div class="col">
            <h3 class="line1">DROP YOUR DESIGNS</h3>
            <p class="line2">Contribute to our work by sharing <br>YOUR template designs</p>
        </div>
        <div class="col">
            <div class="temp_box"><p><a>Drop your ideas here <br>(only image file formats accepted)</a></p></div>
        </div>
    </div>
</div>
{% endblock %}